<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/nav.ejs") %>

    <div class="about content">
      <h2>About Us</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique ullam voluptatum excepturi, explicabo alias at repellat beatae facilis, quam maiores numquam hic debitis voluptates maxime eligendi ab asperiores dignissimos veritatis.</p><br>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique ullam voluptatum excepturi, explicabo alias at repellat beatae facilis, quam maiores numquam hic debitis voluptates maxime eligendi ab asperiores dignissimos veritatis.</p><br>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique ullam voluptatum excepturi, explicabo alias at repellat beatae facilis, quam maiores numquam hic debitis voluptates maxime eligendi ab asperiores dignissimos veritatis.</p>
    </div>

    <%- include("./partials/footer.ejs") %>
  </body>

</html>
